{% extends 'base.html' %}


{% block content %}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}

    <br/>
    <h1> Records...</h1>
    {% if records %}
        {% for record in records %}
            {{ record.first_name }}
            {{ record.last_name }}
            {{ record.email }}
            {{ record.phone }}
            {{ record.address }}
            {{ record.city }}
            {{ record.state }}
            {{ record.zipcode }}
            {{ record.created_at }}<br/>

        {% endfor %}
    {% endif %}
{% else %}

    <br/>
    <h1>Login</h1>
    <br/>

    <form method="POST" action="{% url 'home' %}">
	    <!-- Cross Site Request Forgery token for the project not to be hacked-->
	    {% csrf_token %}
        <div class="mb-3">
            <!-- Will have to be changed into e-mail format for my project, but for now it will be text so I can log with admin-->
            <input type="text" class="form-control" name="username" placeholder="Adres e-mail" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Haslo" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>

    </form>

</div>
{% endif %}

{% endblock %}