{% extends 'base.html' %}
{% block content %}

</br>
<div class="card">
  <div class="card-header">
      <h5 class="card-title">
        {{ customer_record.title }}
      </h5>
  </div>
  <div class="card-body">
    {% if not customer_record.is_approved %}
    <div class="alert alert-warning" role="alert">
      This record is pending approval. It will be visible once approved by a superuser.
    </div>
    {% endif %}
    <p class="card-text">
        <strong>Title:  </strong>{{ customer_record.title }} <br/>
        <strong>Author:  </strong>{{ customer_record.first_name }} {{ customer_record.last_name }} <br/>
        <strong>Created at: </strong>{{ customer_record.created_at }} <br/>
        <strong>ID: </strong>{{ customer_record.id }} <br/>
    </p>
  </div>
</div>

</br>
<a href="{% url 'home' %}" class="btn btn-primary"> Back </a>

<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger"> Delete </a>

<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary"> Update </a>

{% endblock %}
