{% extends 'base.html' %}

{% block content %}
<!-- Title -->
</br>
<div class="card">
  <div class="card-header">
      <h5 class="card-title">
        {{ book_record.title }}
      </h5>
  </div>
  <!-- Contents -->
  <div class="card-body">
    {% if not book_record.is_approved %}
    <div class="alert alert-warning" role="alert">
      This book is pending approval. It will be visible once approved by a superuser.
    </div>
    {% else %}
      {% if not book_record.is_available %}
        <div class="alert alert-warning" role="alert">
          This book is not available at the moment.
        </div>
      {% endif %}
    {% endif %}
    
    <p class="card-text">
        <strong>Title:  </strong>{{ book_record.title }} <br/>
        <strong>Author:  </strong>{{ book_record.author }} <br/>
        <strong>Category:  </strong>{{ book_record.category.name }} <br/>
        <strong>Release Year:  </strong>{{ book_record.release_year }} <br/>
        {% if user.is_superuser or user.is_staff %}
            <strong>Created at: </strong>{{ book_record.created_at }} <br/>
            <strong>ID: </strong>{{ book_record.id }} <br/>
        {% endif %}
    </p>

  </div>
</div>

</br>
<a href="{% url 'home' %}" class="btn btn-primary"> Back </a>

{% if request.user.is_authenticated and request.user.is_staff %}
    <!-- Show delete and update buttons only to staff users -->
    <a href="{% url 'delete_record' book_record.id %}" class="btn btn-danger"> Delete </a>
    <a href="{% url 'update_record' book_record.id %}" class="btn btn-secondary"> Update </a>
{% endif %}

{% if book_record.is_available %}
    <a href="{% url 'borrow_book' book_record.id %}" class="btn" style="background-color: #32a852; color: #ffffff;">Borrow</a>
{% endif %}

{% endblock %}
